@import "tailwindcss";

@theme inline {
  --font-im-fell: var(--font-im-fell);
}

body {
  background: #fbf8f4;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
